@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Default */
html,body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
body {
	background: #2c3e50;
	color:#FFF;
	font-family: 'Open Sans', sans-serif;

}
p {
	padding:10px;
}


/* Sections */
.section1 {
	min-height:100%;
}
.section2 {
	min-height:100%;
}
.section2.homeimage {
	background: url('/assets/images/bg.jpg') no-repeat center center; 
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}
.section2.notfound {
	text-align:center;
	background:#e74c3c;
}
/* Logo */
.logo
{
	padding:20px;
	font-size: 30px;
}
/* Links and text styles */
.whitelink {
	color:#FFF;
}
.whitelink:hover{
	color:#999;
}
.mdtext {
	font-size:30px;
}
.centertext
{
	text-align:center;
}
.notfoundtitle{
	margin-top:250px;
	font-size:50px;
	text-transform: uppercase;
}
/* Images */
.responsiveimage{
	width:100%;
	height:auto;
}
.responsiveimage.logoimage {
	width:5%;
}
.responsiveimage.sectionimage {
	width:50%;
	margin-top:100px;
}
/* Forms */
.form {
	padding:0;
	margin:0;
}
.form-input {
	margin: 0;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border:0px;
	height:42px;
	transition: .3s all;
	background:#364d63;
	color:#FFF;
	
}
.form-search {
	background: #364d63 url('/assets/images/search-icon.png') no-repeat scroll 7px 7px;
	padding-left:39px;
}
.form-submit {
	margin: 0;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border:0px;
	height:42px;
	padding:10px;
	transition: .3s all;
	background: #364d63;
	color:#FFF;
}
.form-submit:hover {
	background: #4b6c8c;
}
.form-input:focus {
 background: #4b6c8c;
}
/* Content style */
.description {
	background:#364d63;
	padding:20px;
}
.content {
	padding:20px;
}
/* Buttons */
.button {
	padding:10px;
	text-decoration:none;
	transition: .3s all;
}
.button.default {
	background: #364d63;
	color:#FFF;
}
.button.default:hover {
	background: #4b6c8c;
}
.button.flatwhite {
	border:1px solid #FFF;
	color:white;
}
.button.flatwhite:hover {
	background:#FFF;
	color:#222;
}
/* Footer style*/
footer {
	float:left;
	background:#222;
	height:150px;
	width:100%;
}
.footerlinks{
	color:#FFF;
	text-align:center;
	text-transform: uppercase;
}
.footerlink{
	border:1px solid #FFF;
	padding:10px;
	color:white;
	text-decoration: none;
	margin-right:20px;
	transition: background 0.2s linear;
}
.footerlink:hover{
	background:#FFF;
	color:#222;
}

/* Smartphones and tablets - Cellulari e Tablet */
@media only screen and (max-width : 991px) {
	.form-search {
		background: #364d63;
		padding-left:0px;
	}
	.form-submit {
		width: 100%;
	}
	.form-input {
		width: 100%;
	}
	.form {
		margin: 20px 0px 100px 0px;
	
	}
	.section1 {
	width:100%;
	height:100%;
	float:left;
	padding:0px;
	margin:0px;
	}
	.section2 {
		display:none;
	}
	.logo
	{
		text-align:center;
	}
	.content {
		text-align:center;
	}
}
/* PCs and Laptops - PC e Portatili */
@media only screen  and (min-width : 992px) {
	.form-input {
		width: 80%;
	}
	
	.form {
		margin: 80px 70px 70px 70px;
	}
	.logo
	{
		font-size: 30px;
		margin-bottom:150px;
	}
	.section1 {
		width:60%;
		height:100%;
		float:left;
		padding:0px;
		margin:0px;
	}
	.section2 {
		width:40%;
		height:100%;
		background:#FFF;
		float:left;
		padding:0px;
		margin:0px;
	}
}

/* Big screens - Schermi grandi */
@media only screen  and (min-width : 1200px) {
	.form-input {
		width: 80%;
	}
	.form {
		margin: 80px 70px 70px 70px;
	}
	.logo
	{
		font-size: 50px;
		margin-bottom:150px;
	}
	.section1 {
		width:60%;
		height:100%;
		float:left;
		padding:0px;
		margin:0px;
	}
	.section2 {
		width:40%;
		height:100%;
		background:#FFF;
		float:left;
		padding:0px;
		margin:0px;
	}
}
